.bg_nav{
    background-color: rgba(255, 255, 255, 0.4);
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
}
.m_nav{
    margin-top:100px;
}
.profile_img{
    width: 350px;
    height: 350px;
}
/* .center_screen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

.full_screen{
    height: 100vh;
    
}
.c_card7{
    /* width: 220px; */ 
}
.skill_title{
    /* width: 140px; */
    /* word-break: keep-all; */
    /* word-wrap: ; */
}
.image_circle{
    border-radius: 100%;
}
.edu_card{
    /* background-color: rgb(225, 225, 225); */
    padding: 20px 30px;
    border-radius: 20px;
    margin: 10px 0px;
}
.edu{
    background-color: #d9d9d9;
}
.lg_image{
    width: 80%;
    height: 120px;
    object-fit: contain;
}



@media only screen and (max-width: 600px) {
    .c_card{
        width: 140px;
    }
}